*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: rgb(0, 123, 255);
  position: relative;
}

.nav-branding {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}


.ham {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
}


.hamburger-icon {
  display: block;
}

.close-icon {
  display: none;
}


.ham.active .hamburger-icon {
  display: none;
}

.ham.active .close-icon {
  display: block;
}

main{
    text-align: center;
    margin: 2rem;
}

main header{
    margin-bottom: 2rem;
    font-size: large;
}

.Pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    padding:2rem;
    margin: 0 auto
}


.picture-container figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
}

footer {
    margin: 0.5rem;
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

footer p{
    margin: 0.5rem;
    text-align: center;
}

