@media (min-width: 769px) {
  .nav-link:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
}



@media (max-width: 768px) {


   .nav-menu {
    display: none;
    flex-direction: column;
    background: #040404;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  
  .nav-menu.active {
    display: flex;


  }

  

  .nav-item {
    padding: 16px 0;
  }


  
  .ham {
    display: block;
  }
}
