body {
	font-family: Roboto, helvetica, sans-serif;
}



header {
    margin: auto;
    height: 10vh;
    background-color: rgba(247, 247, 13, 0.928);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px blue;
}


.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.hero img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }



.data {
    border: solid 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    position: absolute;
    top: 40%;
    right: 40%;
    background-color: aliceblue;
}


.data ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.weather {
    border: solid 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    position: absolute;
    top: 20%;
    background-color: aliceblue;

    
}


.data li, .weather li {
    padding: 8px 0;
    font-size: 10px;
    color: #2c3e50;
}



.weather ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
     
 }

.weather img{
display: none;
}

h2{
    font-size: small;
}


 .data ul, .weather ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 15px;
}


  footer {
    text-align: center;
    background-color: #e90b1a;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    color: #010101;
  }
  
  footer p {
    margin: 5px 0;
    font-size: 0.9rem;
  }




@media (max-width: 900px) {
    .data, .weather {
        position: static;
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
}



@media (max-width: 900px) {
    .weather img {
        display: block;
        width: 100%;
        height: auto;
        filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
    }
    
    .weather h2 {
        padding-right: 50px;
    }
}




@media (max-width: 500px) {
    .weather img::after {
        display: block; 
        position: absolute;
        right: 20px;
        top: 50%;
        width:100%;
        height: auto;
        filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2));
    }

    .weather h2 {
        padding-right: 50px;
    }
}